# Ignored files
__pycache__/
.vscode/settings.json
configDev/
data
doc/build/
doc/_build/
doc/make.bat
doc/Makefile
hpc/__pycache__
olympe/
.pylintrc
config/__init__.py
config/__pycache__
config/config.py
config/config*.py
!config/configManager.py
!config/configHooks.py
config/binSettings.sh
hpcManagerDev.code-workspace
python-hpcManager-beta.code-workspace
configOly/
configTmp/
configCallisto/
configCallistoDev/
extras/
doc/gen-configSamples.sh
bin/customCommands.sh