# -*- coding: utf-8 -*-

"""
    Predefined filters

    A predefined filter is a list of filter that are usable in command line as 
    --filter "predefined=MyFilter"
"""
predefined = {
    "group": {
        # History module filters
        "HistoryGroups": {
            "help": "List all history groups (filters nothing, only set default attributes)",
            "attributes": [
                'group', 'category', 'musers', 'logs'
            ],
            "filters":  [
            ],
            "module": "history"
        },
    },
    "user": {
        # History module filters
        "HistoryUsers": {
            "help": "List all history users (filters nothing, only set default attributes)",
            "attributes": [
                'login', 'category', 'pgroup', 'logs'
            ],
            "filters":  [
            ],
            "module": "history"
        },
    }
}
