# -*- coding: utf-8 -*-

"""
    Predefined filters

    A predefined filter is a list of filter that are usable in command line as 
    --filter "predefined=MyFilter"
"""
predefined = {
    "group": {
        # Unix module filters
        "UnixGroups": {
            "help": "List all unix groups (filters nothing, only set default attributes)",
            "attributes": [
                'group', 'password', 'gid', 'musers'
            ],
            "filters":  [
            ],
            "module": "unix"
        },
    },
    "user": {
        # Unix module filters
        "UnixUsers": {
            "help": "List all unix users (filters nothing, only set default attributes)",
            "attributes": [
                'login', 'category', 'pgroup'
            ],
            "filters":  [
            ],
            "module": "unix"
        },
    }
}