# -*- coding: utf-8 -*-

"""
    Predefined filters

    A predefined filter is a list of filter that are usable in command line as 
    --filter "predefined=MyFilter"
"""
predefined = {
    "group": {
        # Slurm module filters
        "SlurmGroups": {
            "help": "List all slurm groups (filters nothing, only set default attributes)",
            "attributes": [
                'account', 'descr', 'org', 'category', 'generated'
            ],
            "filters":  [
            ],
            "module": "slurm"
        },
    },
    "user": {
        # Slurm module filters
        "SlurmUsers": {
            "help": "List all slurm users (filters nothing, only set default attributes)",
            "attributes": [
                'user', 'category', 'account'
            ],
            "filters":  [
            ],
            "module": "slurm"
        },
    }
}